* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    width: 100%;
    height: 104.39px;
    background-color: #1e1e1e;
    position: fixed;
}
a {
    height: 23px;
    text-decoration: none;
    color: #cccccc;
    font-weight: 500;
    font-size: 16px;
    line-height: 27.2px;
    letter-spacing: 0%;
    font-family: Poppins , sans-serif;
    margin-top: 2px;
    margin-left: 20px;
}
.titlebar {
    width: 1200px;
    height: 54.39px;
    margin-top: 25px;
    margin-left: 360px;
    display: flex;
    flex-direction: row;
}
.name {
    width: 132.6px;
    height: 43px;
    margin-top: 5px;
    margin-left: 40px;
}
.name h3 {
    font-size: 32px;
    font-weight: 700;
    font-style: bold;
    line-height: 54.4px;
    color: #d4af37;
}
.taskbar {
    width: 326.61px;
    height: 27.19px;
    margin-left: 833.39px;
    margin-top: 13.59px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
}
.intro img {
    width: 100%;
    height: 600px;
    margin-top: 80px;
}
.menu {
    width: 100%;
    height: 751.59px;
}
.menu h2 {
    width: 1840px;
    height: 81.59px;
    margin-top: 120px;
    margin-left: 40px;
}
.outstanding {
    font-weight: 700;
    font-style: bold;
    font-size: 48px;
    line-height: 81.6px;
    text-align: center;
    color: #1e1e1e;
}
.food {
    width: 1300px;
    height: 350px;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-left: 310px;
    flex-wrap: wrap;
}
.food img {
    width: 300.25px;
    height: 350px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.food1 {
    margin-right: 33px  ;
}
.contact {
    width: 100%;
    height: 453.38px;
    background-color: #1e1e1e;
}
.for_me {
    color: #d4af37;
    font-weight: 700;
    font-size: 48px;
    line-height: 81.6px;
    font-style: bold;
    padding-top: 120px;
    padding-left: 811.17px;
}
.commit {
    font-family: Poppins , sans-serif;
    width: 899.14px;
    height: 86.19px;
    margin-top: 51.6px;
    margin-left: 510.53px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.contact p {
    color: #dddddd;
    font-weight: 400;
    font-size: 18px;
    line-height: 30.6px;
}
footer {
    background-color: black;
    width: 100%;
    height: 85.5px;
    padding-left: 758px;
    padding-top: 32.03px;
    color: #888888;
}