*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    padding:0 40px;
    height: 70px;
    align-items: center;
    background-color: black;
}
.logo {
    font-weight: bold;
    color: #fff;
}
.list_link {
    display: flex;
    gap:20px;
}
.link {
    text-decoration: none;
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F5F0;
}
h1{
    margin: 20px;
}
.special {
    width: 500px;
    height: 450px;
    text-align: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    
}
img{
    margin: 20px;
   border-radius: 8px;
   width: 450px;
   object-fit: cover;
}
.special p{
    margin-bottom: 10px;
}
.more {
    text-decoration: none;
    color: #EDC44E;
}
.more::after{
    content: "\2192";
}
h2{
    margin: 40px;
}
.card {
    width: 800px;
    height: 80px;
    background-color: #fff;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
}
h3{
    margin-bottom: 10px;
}
h3+p{
    color: gray;
    margin-bottom: 20px;
}
.footer {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #fff;
   
}

