*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: #1E1E1E;
    width: 100%;
    height: 105px;
    padding: 0 120px;
    color: #cccccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-family: Playfair Display;
    font-style: Bold;
    font-size: 32px;
    line-height: 54.4px;
    letter-spacing: 0%;
    color: #D4AF37;

}
.list_links {
    display: flex;  
    gap:30px;
}
.link {
    color: #cccccc;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 27.2px;
    letter-spacing: 0%;
    text-decoration: none;

}
.banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) , rgba(0 , 0, 0, 0.6) ), url(./images/background_banner.jpg);
    height: 600px;
    background-size: 100% 600px;
    background-position: center;
    object-fit: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main_title {
    font-family: Playfair Display;
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
    line-height: 95.2px;
    letter-spacing: 0%;
    text-align: center;


}
.description {
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: center;

}
.btn {
    width: 229.6px;
    height: 60.6px;
    border-radius: 50px;
    background-color: #D4AF37;
    box-shadow: 0px 5px 15px 0px #D4AF3766;
    border: 0;
    color: #fff;
    padding: 0 40px;
    font-family: Poppins;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 18px;
    line-height: 30.6px;
    letter-spacing: 0%;
    margin-top: 43px;
}
.signature_dish {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 120px 70px;
}
.title {
}
.list_img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h3{
    font-family: Playfair Display;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    line-height: 81.6px;
    letter-spacing: 0%;
    text-align: center;
}
.about {
    width: 100%;
    height: 453.38px;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_title {
    color: #D4AF37;
}
.about_title+p{
    text-align: center;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 30.6px;
    letter-spacing: 0%;
    color: #DDDDDD;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85.5px;
    background-color: #111111;
    color: #888888;
}
